<h2>{{model.stock.Name}} ({{model.stock.Symbol}})</h2>
<div>
    <p><strong>Date:</strong> {{model.stock.Timestamp}}</p>
    <p><strong>Open Price($):</strong> {{model.stock.Open}}</p>
    <p><strong>Current Price($):</strong> {{model.stock.LastPrice}}</p>
    <p><strong>Change($):</strong> {{model.stock.Change}}</p>
    <p><strong>Volume:</strong> {{model.stock.Volume}}</p>
    <p><strong>Market Capital($):</strong> {{model.stock.MarketCap}}</p>

</div>
<div ng-show="currentUser">
    <div ng-hide="model.displayAddToWatchlist">
        <a ng-click="model.addToWatchlist()" class="btn btn-primary">Add To Watchlist</a>
    </div>
    <br>
    <div ng-show="model.message" class="alert alert-success" role="alert">{{message}}</div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{error}}</div>

    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Quantity" ng-model="model.qty">
        </div>
        <a ng-click="model.addToPortfolio(model.qty)" class="btn btn-primary">Add To Portfolio</a>
    </form>
</div>