<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="text-left">{{model.stock.Name}} ({{model.stock.Symbol}})</h1>
            </div>
            <div class="col-sm-2">
                <h4 class="text-right" ng-class="model.setStatus(model.stock.Change)"><strong>{{model.stock.LastPrice | number:2}}</strong></h4>
                <h4 class="text-right" ng-class="model.setStatus(model.stock.Change)"><strong><i ng-class="model.getUpDown(model.stock.Change)"></i>{{model.stock.Change | number:2}}</strong></h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 well chart" ng-controller="ChartController as model">
                <div ng-if="model.loadingChart" class="text-center">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div ng-if="!model.loadingChart">
                    <highchart class="chart" config="model.chartConfig"></highchart>
                </div>
            </div>
            <div class="col-md-4">
                <p><strong>Date:</strong> {{model.formatDate(model.stock.Timestamp) | date:'medium'}}</p>
                <p><strong>Open Price($):</strong> {{model.stock.Open | number:2}}</p>
                <p><strong>Current Price($):</strong> {{model.stock.LastPrice | number:2}}</p>
                <p><strong>Change($):</strong> {{model.stock.Change | number:2}}</p>
                <p><strong>Volume:</strong> {{model.stock.Volume | number:0}}</p>
                <p><strong>Market Capital($):</strong> {{model.stock.MarketCap | number:0}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row watchers-holders" ng-show="currentUser">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Watchers</div>
            <div class="panel-body table-responsive fixed-panel">
                <table class="table table-hover">
                    <tbody>
                    <tr ng-repeat="user in model.watchers">
                        <td class="text-left"><a href="#/view/{{user.userId}}">{{user.username}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Holders</div>
            <div class="panel-body table-responsive fixed-panel">
                <table class="table table-hover">
                    <tbody>
                    <tr ng-repeat="user in model.holders">
                        <td class="text-left"><a href="#/view/{{user.userId}}">{{user.username}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 news">
        <div class="panel panel-info" ng-controller="StockNewsController as model">
            <div class="panel-heading">
                Latest News about {{model.stock.Name}}
            </div>

            <div class="panel-body fixed-panel">
                <div>
                    <table class="table table-bordered table-hover">
                        <tr ng-repeat="news in model.stockNews">
                            <td>
                                <h4><strong>{{news.title}}</strong></h4>
                                <p>{{news.content}}</p>
                                <a ng-href={{news.link}} target="_blank">Read more..<i class="fa fa-external-link"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" ng-show="currentUser">

    <div class="row add-btns">
        <div class="col-md-3 col-md-offset-3">
            <a ng-click="model.addToWatchlist()" ng-disabled="model.displayAddToWatchlist" class="btn btn-success pull-left">Add To Watchlist</a>
        </div>
        <div class="col-md-3">
            <a ng-click="model.addToPortfolio()" class="btn btn-success pull-right" data-toggle="modal" data-target="#addToPortfolio">Add To Portfolio</a>
        </div>
    </div>

</nav>


<div id="addToPortfolio" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add&nbsp;{{model.stock.Name}}</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <label for="symbol" class="control-label">Symbol/StockID</label>
                    <input ng-model="model.addPort.Symbol" id="symbol" class="form-control" type="text" placeholder="FB"/>
                    <br>
                    <label for="buyPrice" class="control-label">Buying Price</label>
                    <input ng-model="model.addPort.buyPrice" id="buyPrice" class="form-control" type="text"/>
                    <br>
                    <label for="quantity" class="control-label">Quantity</label>
                    <input ng-model="model.addPort.qty" id="quantity" class="form-control" type="text"/>
                    <br>
                    <label for="purchaseDate" class="control-label">Purchase Data</label>
                    <input ng-model="model.addPort.purchaseDate" id="purchaseDate" class="form-control" type="date"/>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="model.commitAdd(model.addPort)" type="button" class="btn btn-success"
                        data-dismiss="modal">Add
                </button>
            </div>
        </div>
    </div>
</div>
