<h2>Portfolio</h2>

<div class="table-responsive">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Stock</th>
            <th>Buy Price</th>
            <th>Qty</th>
            <th>Current Price</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-show="model.selStock">
            <td>
                <input type="text" class="form-control" placeholder="Stock Name" ng-model="model.selStock.Name" disabled/>
            </td>
            <!--<td>
                <input type="text" class="form-control" placeholder="Stock Symbol" ng-model="model.selStock.Symbol" disabled/>
            </td>-->
            <td>
                <input type="text" class="form-control" placeholder="Buying Price" ng-model="model.selStock.BuyingPrice"/>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="Quantity" ng-model="model.selStock.Quantity"/>
            </td>
            <td>
                {{model.selStock.LastPrice}}
            </td>
            <td class="action-column">
                <a ng-click="model.unselectStock()" class="glyphicon glyphicon-remove btn btn-danger"></a>&nbsp;
                <a ng-click="model.updateStock(model.selStock)" class="glyphicon glyphicon-ok btn btn-success"></a>
            </td>
        </tr>
        <tr ng-repeat="stock in model.portfolio">
            <td>{{stock.Name}}&nbsp;({{stock.Symbol}})</td>
            <td>{{stock.BuyingPrice}}</td>
            <td>{{stock.Quantity}}</td>
            <td>{{stock.LastPrice}}</td>
            <td class="action-column">
                <a ng-click="model.selectStock(stock)" class="btn btn-info"><i class="fa fa-pencil-square-o fa-2x"></i></a>&nbsp;
                <a ng-click="model.deleteFromPortfolio(stock)" class="btn btn-danger"><i class="fa fa-remove fa-2x"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--Accordion test-->
    <uib-accordion close-others="true">
        <uib-accordian-group>
            <uib-accordian-heading>
                <div class="row">
                    <div class="cell col-xs-6">Stock</div>
                    <div class="cell col-xs-3 text-right">Profit</div>
                    <div class="cell col-xs-3 text-right">Action</div>
                </div>
            </uib-accordian-heading>
        </uib-accordian-group>

        <uib-accordion-group  ng-repeat="stock in model.portfolio">
            <uib-accordion-heading>
                <div class="row">
                    <div class="cell col-xs-6"><b>{{stock.Name}}&nbsp;({{stock.Symbol}})</b></div>
                    <div class="cell col-xs-3 text-right">{{stock.BuyingPrice}}</div>
                    <div class="cell col-xs-3 text-right">
                        <a ng-click="model.selectStock(stock)" class="btn btn-info"><i class="fa fa-pencil-square-o fa-sm"></i></a>&nbsp;
                        <a ng-click="model.deleteFromPortfolio(stock)" class="btn btn-danger"><i class="fa fa-remove fa-sm"></i></a>
                    </div>
                </div>
            </uib-accordion-heading>
            TestData
            <!--<div class="row">
                Test Data
            </div>-->

        </uib-accordion-group>
    </uib-accordion>

