<div class="row search-text">
    <div class="col-sm-4 col-sm-offset-4">
        <h2>Search Quote</h2>
        <form>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control input-lg" placeholder="e.g. Facebook" ng-model="model.name"/>
                <span class="input-group-btn">
                    <a class="btn btn-info btn-lg" type="submit" ng-click="model.search(model.name)"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </form>
    </div>
</div>
<br>
<div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>

<section ng-show="model.stocks">
    <h3>Search Results</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Symbol/ID</th>
            <th>Name</th>
            <th>Exchange</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stock in model.stocks">
            <td>{{stock.Symbol}}</td>
            <td>
                <a href="#/details/{{stock.Symbol}}">
                    {{stock.Name}}
                </a>
            </td>
            <td>{{stock.Exchange}}</td>
        </tr>
        </tbody>
    </table>
</section>