.action-column {
    white-space: nowrap;
}

.home-image{
    max-height: 100%;
    max-width: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.add-btns{
    margin-top: 5px;
}


.navbar-fixed-bottom{
    background-color: #444444;
}

.fixed-panel {
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
}

.main {
    margin-bottom: 40px;
}

.panel-heading{
    padding-top: 0px;
    padding-bottom: 0px;
}

.news{
    font-size: 20px;
}

.news p{
    font-size: 14px;
}

.news a{
    font-size: 14px;
}

.color-red{color: red;}
.color-green{color: green;}

.my-heading{
    display: inline;
}

.portfolio-table td{
    font-size: 16px;
}

input[type="checkbox"] {
    transform:scale(2, 2);
    margin-top: 12px;
    margin-left: 12px;
}

.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';
}

.user-display li {
    display: inline;
    float: left;
}
