<!-- Navigation -->
<header class="header">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/am-logo.png" alt=""></a>
            </div>

            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{'active' : $location.url() == '/home'}"><a href="#/home">Home</a></li>
                    <li ng-class="{'active' : $location.url() == '/resume'}"><a href="#/resume">Resume</a></li>
                    <li ng-class="{'active' : $location.url() == '/skills'}"><a href="#/skills">Skills</a></li>
                    <li class="dropdown" ng-class="{'active' : ($location.url() == '/project' || $location.url() == '/assignment')}"><a class="dropdown-toggle" data-toggle="dropdown" href="$location.url()">Works <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-class="{'active' : $location.url() == '/assignment'}"><a href="#/assignment">Assignment</a></li>
                            <li ng-class="{'active' : $location.url() == '/project'}"><a href="#/project">Project</a></li>
                        </ul>
                    </li>
                    <li ng-class="{'active' : $location.url() == '/contact'}"><a href="#/contact">Contact</a></li>
                </ul>
            </div>
        </div><!-- .container -->
    </nav>
</header><!-- End Navigation -->