<h2>Admin</h2>
<h3>Users</h3>

<div class="table-responsive">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    <a href="#/admin">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;Username
                    </a>
                </th>
                <th>
                    <a href="#/admin">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;Password
                    </a>
                </th>
                <th>
                    <a href="#/admin">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;Role
                    </a>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" id="userName" placeholder="username"/>
                </td>
                <td>
                    <input type="text" class="form-control" id="password" placeholder="password"/>
                </td>
                <td>
                    <input type="text" class="form-control" id="role" placeholder="role1, role2"/>
                </td>
                <td nowrap="true">
                    <a href="#/admin" class="glyphicon glyphicon-plus btn btn-primary"></a>
                    <a href="#/admin" class="glyphicon glyphicon-ok btn btn-success"></a>
                </td>
            </tr>
            <tr>
                <td>alice</td>
                <td></td>
                <td>student</td>
                <td>
                    <a href="#/admin" class="glyphicon glyphicon-remove btn btn-danger"></a>
                    <a href="#/admin" class="glyphicon glyphicon-pencil btn btn-info"></a>
                </td>
            </tr>
            <tr>
                <td>bob</td>
                <td></td>
                <td>faculty | admin</td>
                <td>
                    <a href="#/admin" class="glyphicon glyphicon-remove btn btn-danger"></a>
                    <a href="#/admin" class="glyphicon glyphicon-pencil btn btn-info"></a>
                </td>
            </tr>
            <tr>
                <td>charlie</td>
                <td></td>
                <td></td>
                <td>
                    <a href="#/admin" class="glyphicon glyphicon-remove btn btn-danger"></a>
                    <a href="#/admin" class="glyphicon glyphicon-pencil btn btn-info"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>