<div class="row" ng-if="!currentUser">
    <div class="col-md-9">
        <img src="resources/portfolio_6.jpg" class="home-image">
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">Tradebull</div>
            <div class="panel-body">
                <p>Forget about tracking your stocks in excel sheets. Search, Track and manage all your stocks at one place.</p>
                <a href="#/register" class="btn btn-info">Register Now</a>
            </div>
        </div>
        <br>
        <div class="panel panel-info">
            <div class="panel-heading">Dont want to join?</div>
            <div class="panel-body">
                <p>You can still search and track your favorite stocks.</p>
                <a href="#/search" class="btn btn-info">Start Searching Now</a>
            </div>
        </div>
    </div>
</div>

<div ng-if="currentUser" class="row">
    <h2>Welcome {{currentUser.firstName}}!</h2>
</div>
    <br>
<div ng-if="currentUser" class="row">
    <div class="col-sm-4">
        <h5>See how your purchased stocks are doing!</h5>
        <a href="#/portfolio" class="btn btn-primary">Go To Portfolio</a>
    </div>
    <div class="col-sm-4">
        <h5>Take a quick glance at your watchlist.</h5>
        <a href="#/watchlist" class="btn btn-primary">Go To Watchlist</a>
    </div>
    <div class="col-sm-4">
        <h5>Something else in mind?</h5>
        <a href="#/search" class="btn btn-info">Search Now</a>
    </div>
</div>
