<!-- Resume Section -->
<section id="resume" class="resume-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Resume</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="resume-title">
                    <h3>Education</h3>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        <li>
                            <div class="posted-date">
                                <span class="month">2015-2017</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Master's Degree</h3>
                                        <span>MS in Computer Science, Northeastern University,<br>Boston, MA. USA <br>GPA: 4.0</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>I am a graduate student at Northeastern University, pursuing my Master's Degree in Computer Science.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>

                        <li class="timeline-inverted">
                            <div class="posted-date">
                                <span class="month">2008-2012</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Bachelor's Degree</h3>
                                        <span>B.E. in Computer Engineering, University Of Mumbai,<br>Mumbai, MH. India. <br> Percentage: 73.22</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>I have completed my Bachelor's Degree with major in Computer Engineering.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div> <!-- /timeline-panel -->
                        </li>

                        <li>
                            <div class="posted-date">
                                <span class="month">2006-2008</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Higher school certificate</h3>
                                        <span>Science Divison, Royal College<br>Maharashtra Board, India.<br>Percentage: 90.67</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>I always had an inclination towards science, and felt the charm of existence in this spot.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /row -->

        <div class="row">
            <div class="col-md-12">
                <div class="resume-title">
                    <h3>Experience</h3>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="posted-date">
                                <span class="month">2012-2015</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Software Engineer</h3>
                                        <span>BNP Paribas India Solutions, Mumbai, India</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Worked on Bank's Middle office web application project which manages collateral and transactions of the Clients.
                                            I worked extensively on Java technologies along with frameworks like Struts, Hibernate, Spring and SweetDEV.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div> <!-- /timeline-panel -->
                        </li>

                        <li>
                            <div class="posted-date">
                                <span class="month">2011-2012</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Intern</h3>
                                        <span>iT Gurus Software, Mumbai, India</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Developed a Cross Platform Mobile application to synchronize the Phone's data (Contacts, Messages) across various Mobile platform which have different data structures for storage.
                                            User can manage their Phone's data and can synchronize with any other Mobile Platform.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /row -->
    </div><!-- /.container -->
</section><!-- End Resume Section -->
