<!-- Works Section -->
<section id="works" class="works-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Assignment</h2>

        <div class="panel panel-success">
            <div class="panel-heading"><h4>Web Development (CS5610) Assignment</h4></div>
            <div class="panel-body">
                <div class="row row-centered">
                    <div class="col-sm-4 col-centered">
                        <a href="assignment/client/index.html">
                            <div class="portfolio-item">
                                <div class="portfolio-bg btn">
                                    <div class="portfolio">
                                        <div class="tt-overlay"></div>
                                        <img src="images/works/document.png" alt="image">
                                        <div class="portfolio-info">
                                            <h3>FormMaker</h3>
                                        </div><!-- /.portfolio-info -->
                                    </div><!-- /.portfolio -->
                                </div><!-- /.portfolio-bg -->
                            </div><!-- /.portfolio-item -->
                        </a>
                    </div>
                </div><!-- /.row -->
            </div>
        </div>
    </div><!-- /.container -->
</section><!-- End Works Section -->
