<!-- Works Section -->
<section id="works" class="works-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Project</h2>

        <div class="panel panel-success">
            <div class="panel-heading"><h4>Web Development (CS5610) Project</h4></div>
            <div class="panel-body">
                <div class="row row-centered">
                    <div class="col-sm-4 col-centered">
                        <a href="project/client/index.html">
                            <div class="portfolio-item">
                                <div class="portfolio-bg btn">
                                    <div class="portfolio">
                                        <div class="tt-overlay"></div>
                                        <img src="images/works/tradebull1.png" alt="image">
                                        <div class="portfolio-info">
                                            <h3>TradeBull</h3>
                                        </div><!-- /.portfolio-info -->
                                    </div><!-- /.portfolio -->
                                </div><!-- /.portfolio-bg -->
                            </div><!-- /.portfolio-item -->
                        </a>
                    </div>

                    <div class="col-sm-4 col-centered">
                        <a href="https://docs.google.com/document/d/1Vfu5hwkaSTG7TVNXEPkp99zrGNGR7ff1nEwTIydo8ZM/edit">
                            <div class="portfolio-item">
                                <div class="portfolio-bg btn">
                                    <div class="portfolio">
                                        <div class="tt-overlay"></div>
                                        <img src="images/works/document2.jpg" alt="image">
                                        <div class="portfolio-info">
                                            <h3>Project Doc</h3>
                                        </div><!-- /.portfolio-info -->
                                    </div><!-- /.portfolio -->
                                </div><!-- /.portfolio-bg -->
                            </div><!-- /.portfolio-item -->
                        </a>
                    </div>
                </div><!-- /.row -->
            </div>
        </div>
    </div><!-- /.container -->
</section><!-- End Works Section -->
